@charset "utf-8";



// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$green: #2E6A42;
$dark-green: #1A453B;
$brown: #623530;
$dark-brown: #46211f;
$light-tan: #f0d2AF;
$purple: #8A4D76;
$pink: #FA7C91;
// $brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$roboto: "Roboto";
$dark-purple: #351428;
$text: $light-tan;
// $link: $light-tan;

// Update Bulma's global variables
$family-primary: $roboto;
$primary: $green;
$widescreen-enabled: false;
$fullhd-enabled: false;
$text: $light-tan;
$title-color: $light-tan;
$subtitle-color: $light-tan;
$box-background-color: $brown;

// Update some of Bulma's component variables
$body-background-color: $dark-brown;

$family-sans-serif: "Ubuntu";
$family-primary: $family-sans-serif;

$navbar-background-color: $green;
$navbar-item-hover-background-color: $dark-green;
$navbar-item-color: $light-tan;

$footer-padding: 2rem;


#main-hero {
  background-image: url("/images/woodlands_header.png");
}

.border {
  border-style: solid;
  
  border-image-source: url("/images/xpattern_border.png");
  border-image-width: 50px;
  border-image-slice: 32;
  border-image-repeat: round;
  border-top: 0px;
}

@font-face {
  font-family: "Breathe Fire";
  src: url("/fonts/BreatheFire.woff") format("woff"),
       url("/fonts/BreatheFire.ttf") format("truetype");
}




.navbar-item {
  color: $light-tan;
}


@import "bulma/bulma";

.title {
  font-family: "Breathe Fire";
  text-shadow: 3px 3px $dark-purple;
  font-weight: normal;
}
.title.is-1 {
  font-size: 5rem;
  text-shadow: 6px 6px $dark-brown;
  font-weight: normal;
}

hr {
  background-image: url("/images/horizontal_divider_simple.png");
  background-size: contain;
  background-color: rgba(0, 0, 0, 0);
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
}


.footer {
  background-color: $green;
}

// .navbar {
//   border-bottom: 3px solid $dark-green;
// }
