<div class="section has-text-centered is-size-4">
  <div class="columns">
    <div class="column">
    </div>
    <div class="column is-half">
      <div class="block">
        <p>
        Realm Uniter is currently in development. Subscribe to our mailing list to be notified about major updates. We won't spam you or share your email address with anyone.
        </p>
      </div>

      <div class="block">
        <form method="post" action="https://ymlp.com/subscribe.php?id=gyejjqwgmgb">
          <div class="field has-addons">
            <div class="control is-expanded">
              <input class="input" type="text" placeholder="email" name="YMP0">
            </div>
            <div class="control">
              <input type="submit" value="Subscribe" class="button is-primary">
              </a>
            </div>
          </div>
        </form>
      </div>
      <div class="block">
        Or follow us on twitter: 
        <a href="https://twitter.com/fractalfabric">@fractalfabric</a>
      </div>
    </div>
    <div class="column">
    </div>
  </div>
  <!-- <div class="columns"> -->
  <!--   Learn more about the game on the <a href="/posts">Dev Blog</a>! -->
  <!-- </div> -->
</div>
