<div class="section has-text-centered is-size-4">
  <div class="columns">
    <div class="column">
    </div>
    <div class="column is-half">
      <p>
      Realm Uniter is currently in development. Join our mailing list to be notified about updates.
      </p>
      <div class="field has-addons">
        <div class="control is-expanded">
          <input class="input" type="text" placeholder="email">
        </div>
        <div class="control">
          <a class="button is-primary">
            join
          </a>
        </div>
      </div>
      <p>
      Or follow us on elsewhere:
      </p>
      <button class="button">twitter</button>
      <button class="button">itch.io</button>
      <button class="button">steam</button>
    </div>
    <div class="column">
    </div>
  </div>
  <!-- <div class="columns"> -->
  <!--   Learn more about the game on the <a href="/posts">Dev Blog</a>! -->
  <!-- </div> -->
</div>
