{{ define "main" }}
<section id="main-hero" class="hero is-medium">
  <div class="hero-body has-text-centered">
    <h1 class="title is-1"> {{ .Site.Title }} </h1>
    <h2 class="subtitle is-4">
    An action-adventure game
    </h2>
  </div>
</section>
<section  class="section border">
  <div class="container">
    <div class="section is-size-4">
      {{ .Content }}
      <!-- <div > -->
      <!--   <button class="button is-info">Download Demo</button> -->
      <!--   <button class="button is-info">Wishlist On Steam</button> -->
      <!-- </div> -->
    </div>
    <div class="columns is-centered">
      <iframe src="https://itch.io/embed/1034102" width="552" height="167" frameborder="0"><a href="https://fractalfabricgames.itch.io/realm-uniter">Realm Uniter by FractalFabricGames</a></iframe>
    </div>

    {{ range .CurrentSection.RegularPages }}
    <div>
      {{- partial "homepage_block.html" . -}}
    </div>
    <hr>
    {{ end  }}
  </div>
  {{- partial "call_to_action.html" . -}}
</section>
{{ end }}
