{{ define "main" }}
<section id="main-hero" class="hero is-medium">
  <div class="hero-body has-text-centered">
    <h1 class="title is-1"> {{ .Site.Title }} </h1>
    <h2 class="subtitle is-4">
    An action-adventure game
    </h2>
  </div>
</section>
<section id="home-content" class="section">
  <div class="container">
    <div class="box is-size-5">
      {{ .Content }}
      <div >
        <button class="button is-info">Download Demo</button>
        <button class="button is-info">Wishlist On Steam</button>
      </div>
    </div>
    {{ range .RegularPages }}
    <div class="section">
      {{- partial "homepage_block.html" . -}}
    </div>
    <hr>
    {{ end  }}
  </div>
</section>
{{ end }}
